.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal button{
    position:relative;
    bottom: 2px;
    right: -100px;
    margin-right: 10px;
    cursor: pointer;
    border: transparent;
    font-size: 12px;
    border-radius: 3px;
    color: #f7f4f4;
    padding: 10px 20px;
    background-color: #4caf50;
}
.modal form {
    background-color: #fff;
    padding: 20px;
 
    font-size:0.8rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.modal label{
    display: block;
    margin-bottom: 8px;
  }

.modal input{
    width: 40%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }